<form #newsForm="ngForm" (ngSubmit)="submitNews(newsForm)" class="news-form">
    <div class="input-div">
      <label for="newsTitle">Titulo</label>
      <input class="proj-input" 
              type="text" required  
              id="newsTitle" 
              name="newsTitle" 
              [(ngModel)]="newsTitle" 
              placeholder="Titulo..">
    </div>
    <div class="input-div">
      <label for="newsImgUrl">Link da imagem "https://" 
        <a id="open-link" href="{{newsImgUrl}}" ><img id="open-newsImg" class="box-shadow" src="./assets/openIMG.png" alt="imgUrl"></a>
      </label>
      <input class="proj-input" 
              type="url" pattern="https://.*" required 
              id="newsImgUrl" name="newsImgUrl" 
              [(ngModel)]="newsImgUrl" 
              placeholder="https://exemplo.com">
    </div>
    <div class="input-div textarea-div">
      <label for="newsBody">Texto da sua notícia</label>
      <textarea class="proj-input" 
                  type="text" required 
                  id="newsBody" 
                  name="newsBody" 
                  [(ngModel)]="newsBody" 
                  placeholder="Escreva sua notícia!">
      </textarea>
    </div>
      <button type="submit" class="proj-btn" id="submit-btn">ENVIAR POST</button>
</form>
