.news-form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}
.input-div{
    font-weight: bold;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    margin-bottom: 1%;
    width: 100%;
}

.input-div input{
    margin: 0.5% 0 1% 0;
    padding: 1.5%;
}

.textarea-div{
    flex-grow:1 ;
}

#newsTitle{
    font-weight: bold;
}

#newsImgUrl{
    color: blue;
    text-decoration: underline;
}

#open-newsImg{
    width: 20px;
    height: 20px;
    align-self: center;
}

#newsBody{
    padding: 1.5%;
    resize:none;
    width: 100%;
    height: 100%;
}

@media (max-width: 500px) {
    .news-form{
        
        width: 100%;
    }

    .textarea-div{
        height: 20vh;
    }
}


