.page-header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

.page-header-title{
    font-size: clamp(16px,5vw,30px);
}

