.page-header{
    font-size: clamp(14px,1vw,18px);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    margin-top: 5%;
}

.page-header-title{
    font-size: clamp(16px,5vw,30px);
}

