.news-page{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.news-card-item{
    width: 45%;
    margin-bottom: 5% ;
}

@media (max-width: 900px) {
    .news-card-item{
        width: 80%;
    }
}
