<article class="news-card box-shadow">
    <figure class="news-card-figure">
        <img class="news-card-figure-img" [src]="cardImgUrl" onerror="this.src ='./assets/placeholderImg.jpg'" [alt]="cardTitle">
    </figure>
    <div class="news-card-content-div">
        <section class="news-card-content">
        <div class="title-div">
            <h4 class="news-card-title">{{cardTitlePrev}}</h4>
        </div>
        <div class="paragraph-div">
            <p class="news-card-paragraph">{{cardBodyPrev}}</p>
        </div>
        <button class="proj-link" (click)="reRoute()" [routerLink]="detailsLink" [queryParams]="detailsParams">Ler mais</button>
    </section>
    </div>
</article>