<article class="news-card">
    <figure class="news-card-figure">
        <img class="news-card-figure-img" [src]="cardImgUrl" onerror="this.src ='./assets/placeholderImg.jpg'" [alt]="cardTitle">
    </figure>
    <div class="news-card-content-div">
        <section class="news-card-content">
        <h4 class="news-card-title">{{cardTitlePrev}}</h4>
        <p class="news-card-paragraph">{{cardBodyPrev}}</p>
        <button class="proj-link" [routerLink]="detailsLink" [queryParams]="detailsParams">Ler mais</button>
    </section>
    </div>
</article>