<article>
    <aside class="author-detail">
        <div>
            <figure  class="author-detail-figure">
                <img src="./assets/blankUser.png" alt="author image">
                <figcaption><b>Escrito por: </b>Author P. H. PlaceHolder</figcaption>
            </figure>
        </div>
        <time><b>Modificado em: </b>{{cleanDate}}</time>
    </aside>
    <main>
        <section class="news-detail-content">
            <figure class="news-detail-figure">
                <img [src]="NewsObj.image" onerror="this.src='./assets/placeholderImg.jpg'" [alt]="NewsObj.title">
                <figcaption>{{NewsObj.title}}</figcaption>           
            </figure>
            <div class="news-detail-text">
                <p class="news-detail-paragraph">{{NewsObj.body}}</p>
            </div>
        </section>
    </main>
</article>
