<article>
    <header>
        <h1 class="news-card-title">Coronavírus: como a doença é transmitida?</h1>
        <div>
            <figure>
                <img src="./../../assets/images/blankUser.png" alt="user image">
                <figcaption>Author: Author</figcaption>
            </figure>
            <time datetime="DD-MM-YYY">Updated: Placeholder.Date</time>
        </div>
    </header>
    <main>
        <section class="news-card">
            <figure class="news-card-figure">
                <img class="news-card-figure-img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.paho.org%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmax_1500x1500%2Fpublic%2Fbanner-covid-19-1280x549.jpg%3Fitok%3DR7z_5No5&f=1&nofb=1&ipt=e4282a337d9b79101e07d93f537de3e4196905f57b2a88e01d5e2fac8a5eea7f&ipo=images" alt="Poster Covid 19">
            </figure>
            <div class="news-card-content">
                <p class="news-card-paragraph">Saiba o que é coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais</p>
            </div>
        </section>
    </main>
</article>
