<aside class="side-bar-section">
    <div class="side-bar-section-category-div">
            <h5 name="side-bar-section-category-title">Categorias</h5>
            <ul name="side-bar-section-category-list">
                <li class="category-list-item"><a href="">Lorem ipsum dolor</a></li>
                <li class="category-list-item"><a href="">Lorem ipsum dolor</a></li>
                <li class="category-list-item"><a href="">Lorem ipsum dolor</a></li>
                <li class="category-list-item"><a href="">Lorem ipsum dolor</a></li>
            </ul>
    </div>
    <div class="side-bar-section-search-div">
        <label for="search-input" class="search-div-title">Procurando alguma notícia?</label>
        <div class="search-div-input">
            <input id="search-input" placeholder="Pesquisar por...">
            <button></button>
        </div>
    </div>
</aside>