<aside class="side-bar-section">
    <div class="side-bar-section-category-div">
            <h5 name="side-bar-section-category-title">Categorias</h5>
            <ul name="side-bar-section-category-list">
                <li class="category-list-item"><a href="./">Lorem ipsum dolor</a></li>
                <li class="category-list-item"><a href="./">Lorem ipsum dolor</a></li>
                <li class="category-list-item"><a href="./">Lorem ipsum dolor</a></li>
                <li class="category-list-item"><a href="./">Lorem ipsum dolor</a></li>
            </ul>
    </div>
    <div class="side-bar-section-search-div">
        <label for="search-input" class="search-div-title">Procurando alguma notícia?</label>
        <div class="search-div-input">
            <input id="search-input" [(ngModel)]="searchText" (change)="searchNewsUpdate()"   placeholder="Pesquisar por...">
            <button (click)="searchNews()"></button>
        </div>
    </div>
    <nav class="nav-bar">
        <div class="home-div">
            <a class="proj-link" href="./">
                <figure class="proj-img-container">
                <img class="box-shadow" src="./assets/home.png" alt="home icon">
                <figcaption>Inicio</figcaption>
                </figure>
            </a>
        </div>
        <ul>
            <li><a class="proj-link" (click)="reRoute()" [routerLink]="newsDetailRoute" [queryParams]="detailsParams" >Estou com sorte</a></li>
            <li><a class="proj-link" (click)="reRoute()" [routerLink]="moreNewsRoute" >Sua Notícia</a></li>
        </ul>
        </nav>
</aside>
