.your-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.news-form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 45%;
}

.header-inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.input-div{
    font-weight: bold;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    margin-bottom: 1%;
    width: 100%;
}

.input-div input{
    border: 1px solid grey;
    border-radius: 20px;
    margin: 0.5% 0 1% 0;
    padding: 1.5%;
}

#your-news-title{
    font-weight: bold;
}

#your-news-img{
    color: blue;
    text-decoration: underline;
}

#open-link-img{
    width: 20px;
    height: 20px;
    align-self: center;
}

.textarea-div{
    height: 70%;
}

#your-news-text{
    border: 1px solid grey;
    border-radius: 20px;
    padding: 1.5%;
    resize:none;
    width: 100%;
    height: 100%;
}

#submit-btn{
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: -1px 1.5px 4px 0.1px black;
    font-size: clamp(14px,1vw,18px);
    font-weight: bold;
    color: rgb(0, 175, 175);
    background: rgba(88, 88, 88, 0.144);
    text-align: center;
    padding: 0.5%;
    width: 50%;
    margin-top: 2.5%;
}

#submit-btn:hover{
    color: blue;
    cursor: pointer;
    box-shadow: -1px 3px 10px 1px black;
}

.preview-section{
    text-wrap: wrap;
    width: 45%;
}

@media (max-width: 500px) {
    .your-news{
        flex-direction: column;
        align-items: center;
    }

    .news-form{
        width: 80%;
    }

    .textarea-div{
        height: 40%;
    }

    .preview-section{
        margin: 5%;
        width: 80%;
    }

}


