<main>
    <form class="news-form">
        <section class="header-inputs">
            <div class="input-div">
                <label for="your-news-title">Titulo</label>
                <input type="text" id="your-news-title"  placeholder="Titulo..">
            </div>
            <div class="input-div">
                <label for="your-news-img">Link da image</label>
                <input type="text" id="your-news-img"  placeholder="URL da imagem">
            </div>
        </section>
        <div class="preview-textarea">
            <div class="textarea-div">
                <label for="your-news-text">Texto da sua notícia</label>
                <textarea type="text" id="your-news-text" placeholder="Escreva sua notícia!"></textarea>
                <button type="submit" id="submit-btn">Postar</button>
            </div>
            <section class="preview-section">
                <app-news-card></app-news-card>
            </section>
        </div>
    </form>
</main>
