<app-post-feedback *ngIf="isPosted"
[isPosted]="isPosted" 
[postId]="testeId"
></app-post-feedback>
<main class="your-news">
    <form #newsForm="ngForm" class="news-form">
            <section class="header-inputs">
                <div class="input-div">
                    <label for="newsTitle">Titulo</label>
                    <input type="text" id="newsTitle" name="newsTitle" required  [(ngModel)]="newsTitle" placeholder="Titulo..">
                </div>
                <div class="input-div">
                    <label for="newsImgUrl">Link da image<a id="open-link" href="https://ichef.bbci.co.uk/ace/ws/800/cpsprodpb/f28f/live/c1483cc0-60a2-11ef-b76f-f1f593af629e.png.webp" ><img id="open-newsImg" class="box-shadow" src="./assets/openIMG.png" alt="imgUrl"></a></label>
                    <input type="text" id="newsImgUrl" name="newsImgUrl" required [(ngModel)]="newsImgUrl" placeholder="URL da sua imagem!">
                </div>
            </section>
            <div class="input-div textarea-div">
                <label for="newsBody">Texto da sua notícia</label>
                <textarea type="text" id="newsBody" name="newsBody" required [(ngModel)]="newsBody" placeholder="Escreva sua notícia!"></textarea>
            </div>
            <button type="submit" (click)="postYourNews()" id="submit-btn">Postar</button>
    </form>
    <section class="preview-section">
        <app-news-card
            [title]="newsTitle"
            [img]="newsImgUrl"
            [body]="newsBody"
            [id]="validId"
        ></app-news-card>
    </section>
</main>
