<app-post-feedback *ngIf="isPosted"
[isPosted]="isPosted" 
[postId]="testId"
[postTitle]="newsForm.newsTitle"
[isValid]="newsForm.isValid"
[requestOk]="newsForm.requestOk"
></app-post-feedback>
<main class="your-news">
    <div class="form-div">
        <app-news-form
        #newsForm
        [id]="validId"
        (formEvent)="setPost($event)"
        ></app-news-form>
    </div>
    <section class="preview-section">
        <app-news-card
            [title]="newsTitle"
            [img]="newsImgUrl"
            [body]="newsBody"
            [id]="validId"
        ></app-news-card>
    </section>
</main>
