.your-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.form-div{
    width: 45%;
}

.preview-section{
    text-wrap: wrap;
    width: 45%;
}


@media (max-width: 900px) {
    .form-div{
        width: 90%;
    }
    
    .your-news{
        flex-direction: column;
        align-items: center;
    }

    .preview-section{
        margin: 5%;
        width: 90%;
    }

}


